# ignore __pycache__
__pycache__/
# ignore virtual environment
venv/
# ignore ".idea" pycharm folder
.idea/
# ignore ".vs" visual studio folder
.vs/
# ignore ".idea" visual studio code folder
.vscode/
# ignore "test" folder
test/