header {
    overflow: hidden;
    background-color: #f1f1f1;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header a.c_active {
    background-color: #848484;
    color: white;
}

.c_header_right {
    float: right;
}

.c_header_foot_line {
    background-color: #848484;
    margin-top: 49px;
    height: 1px;
}

main {
    height: 95%;
    width: 100%;
    left: 0;
}

.c_row_display {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    margin: 0;
}

.c_vertical_display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
}


.c_center {
    margin: 0 auto 0 auto;
}

.c_global_width {
    width: 50%;
}

.c_ticket_post, .review_post {
    margin-bottom: 2%;
}

.c_field {
    margin: 5px;
    min-width: 200px;
}

.c_field, p {
    margin-bottom: 3px;
}

.c_title {
    text-align: center;
    line-height: 68.4px;
    /*padding-top: 10px;*/
    padding-bottom: 5px;
    margin: 0;
}

.c_button {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    border-radius: 5%;
    margin: 10px;
    transition: 0.7s;
}

.c_button:hover {
    background-color: #EEEEEE;
    transition: 0.7s;
}

.c_ticket_post {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.c_not_reviewed {
    background-color: #E57F84;
    border-style: inset;
}

.c_already_reviewed {
    background-color: #F4EAE6;

}

.c_ticket_post_content {
    margin: 10px;
    padding: 2px;
}

.c_ticket_post_content_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.c_ticket_image {
    max-width: 30%;
    min-width: 150px;
    max-height: 300px;
    margin: 15px 3px 5px 3px;
    border-radius: 10px;
}

.c_review_post {
    background-color: #4297A0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.c_review_post_content {
    margin: 10px;
    padding: 2px;
}

.c_review_post_content_row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.c_ticket_in_review {
    background-color: #99c5c9;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 15px;
}

.c_review_rating {
    display: flex;
    flex-direction: row;
    font-size: 200%;
    padding-left: 10px;
    align-items: center;
    margin: -25px 0 -10px 0;
}

.c_rating__off {
    opacity: 0.2;
}

.c_rating__on {
    opacity: 0.8;
}