<link rel="stylesheet" href="{% static 'authentication.css' %}"/>
<h1 class="c_title">Sign up</h1>
<div class="c_center">
    <form method="POST" class="c_vertical__display auth__item global__width">
        <div class="c_field">
            <p>Username</p>
            {{form.username}}
        </div>
        <div class="c_field">
            <p>Password</p>
            {{form.password1}}
        </div>
        <div class="c_field">
            <p>Confirm your password</p>
            {{form.password2}}
        </div>
        <div class="c_row__display">
            <a href="{% url "authentication" %}">
            <button type="button" class="c_button">Back</button>
            </a>
            <button type="submit" class="c_button">Sign up</button>
        </div>
    </form>
    <p class="c_error__message">{{ error_message }}</p>
</div>
